html, body {
    height: 100%;
    margin: 0; padding: 0;  /* to avoid scrollbars */
}
#wrapper {
    display: flex;  /* use the flex model */
    min-height: 100%;
    flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
}
.links>li{
    display: inline;
    padding: 0 5px;
}
.body{
    display: inline-block;text-align: center;margin-top: 10px;
    flex:1;
}
.tabs{
    display: inline-block;

}
.textbook-table>tbody>tr>th{
    text-align: center;
}
a{
    cursor: pointer;
}
.text-center{
    text-align: center;
}
.slogan{
    font-size: 1.8rem;
    margin: 0 0 1rem;
}
#wrapper {
    display: flex;  /* use the flex model */
    min-height: 100%;
    flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
}
.adjusted{
    width: auto !important;
    top:auto !important;
}