body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.links>li{
    display: inline;
    padding: 0 5px;
}
.body{
    text-align: center;
    margin-top: 10px;
    flex: 1 0 auto;
}
.tabs{
    display: inline-block;

}
.textbook-table>tbody>tr>th{
    text-align: center;
}
a{
    cursor: pointer;
}
.text-center{
    text-align: center;
}
.slogan{
    font-size: 1.8rem;
    margin: 0 0 1rem;
}
.adjusted{
    width: auto !important;
    top:auto !important;
}
.card{
    margin-top: 20px;
    display: inline-block;
    max-width:300px;
    margin-right: 5px;
    height: 300px;
}
.card-content{
    height:100px;
    padding: 20px 0;
}