html, body {
    height: 100%;
    margin: 0; padding: 0;  /* to avoid scrollbars */
}
#wrapper {
    display: flex;  /* use the flex model */
    min-height: 100%;
    flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
}
.footer {
    background-color: #292c2f;
    text-align: center;
    font-size: 1.2rem;
}
.footer p.slogan {
    color: #8d9093;
    font-size: 1.8rem;
    margin: 0 0 1rem; }
.footer p.copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0; }
.links>li{
    display: inline;
    padding: 0 5px;
}
.footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
}
.footer .links a::after {
    content: "•";
}
.footer .links a:last-child::after {
    content: "";
}
.body{
    display: inline-block;text-align: center;margin-top: 10px;
    height: 80.3%;
    flex:1;
    /*text-align: center;*/
}
.tabs{
    display: inline-block;

}
.textbook-table>tbody>tr>th{
    text-align: center;
}