<div class="slider" slider style="margin-top: 30px;">
    <ul class="slides">
        <li>
            <img src="../img/soccer.png"> <!-- random image -->
            <div class="caption left-align grey-text text-darken-3">
                <h3>Soccer Tournament</h3>
                <h5 class="light grey-text text-darken-3">Free Tournament</h5>
            </div>
        </li>
        <li>
            <img src="../img/concert_crowd.png"> <!-- random image -->
            <div class="caption center-align">
                <h3>Concert</h3>
                <h5 class="light grey-text text-lighten-3">Rock Out</h5>
            </div>
        </li>
        <li>
            <img src="../img/bicycle.png"> <!-- random image -->
            <div class="caption left-align yellow-text text-accent-3">
                <h3>Free Bike Rentals</h3>
                <h5 class="light yellow-text text-accent-3">June - August</h5>
            </div>
        </li>
    </ul>
</div>

<div class="card" ng-repeat="event in events">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../img/soccer.png">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{event.title|limitTo:15}}{{event.title.length > 15 ? '&hellip;':''}} <i class="mdi-navigation-more-vert right"></i></span>
        <!--<p><a href="#">This is a link</a></p> Could be needed in the future for ohter stuff-->
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{event.title}} <i class="mdi-navigation-close right"></i></span>
        <p>Title: {{event.title}}</p>
        <p ng-if="event.place">Author: {{event.place}}</p>
        <p ng-if="event.school">School: {{event.school}}</p>
        <p ng-if="event.price">Price: {{event.price}}</p>
        <p ng-if="event.date">Date: {{event.date|date:'MM-dd-yyyy'}}</p>

    </div>
</div>

<table class="s12 col table" style="margin-top: 20px;">
    <thead>
    <tr>
        <th width="200">Title</th>
        <th width="150">Place</th>
        <th width="150">School</th>
        <th width="150">Price</th>
        <th width="150">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="event in events">
        <td width="200">{{event.title}}</td>
        <td width="150">{{event.place}}</td>
        <td width="150">{{event.school}}</td>
        <td width="150">{{event.price|currency}}</td>
        <td width="150">{{event.date|date:'MM-dd-yyyy'}}</td>
    </tr>
    </tbody>
</table>