<div class="slider" slider style="margin-top: 30px;">
    <ul class="slides">
        <li>
            <img src="../img/battlefield.png"> <!-- random image -->
            <div class="caption left-align">
                <h3>Battlefield</h3>
                <!--<h5 class="light grey-text text-lighten-3">Order them now</h5>-->
            </div>
        </li>
        <li>
            <img src="../img/halo.png"> <!-- random image -->
            <div class="caption right-align">
                <h3>Halo</h3>
                <!--<h5 class="light grey-text text-lighten-3">Enjoy yourself</h5>-->
            </div>
        </li>
        <li>
            <img src="../img/assassins-creed.png"> <!-- random image -->
            <div class="caption left-align" style="margin-top: 20px;">
                <h3>Assassin's Creed</h3>
                <!--<h5 class="light grey-text text-lighten-3">The Empire State</h5>-->
            </div>
        </li>
    </ul>
</div>


<div class="card" ng-repeat="service in services|limitTo:9">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../img/battlefield.png">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{service.title|limitTo:15}}{{service.title.length > 15 ? '&hellip;': ''}} <i class="mdi-navigation-more-vert right"></i></span>
        <!--<p><a href="#">This is a link</a></p> Could be needed in the future for ohter stuff-->
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{service.title}} <i class="mdi-navigation-close right"></i></span>
        <p ng-if="service.place">Place: {{service.place}}</p>
        <p ng-if="service.price">Price: {{service.price|currency}}</p>
        <p ng-if="service.date">Date: {{service.date|date: 'MM-dd-yyyy'}}</p>
        <p ng-if="service.description">Description: {{service.description}}</p>
    </div>
</div>

<!--<div class="card " style="width:400px; display: inline-block; margin-right: 4px;" ng-repeat="service in services">-->
    <!--<div class="card-image">-->
        <!--<img src="../img/battlefield.png">-->
        <!--<span class="card-title">{{service.title}}</span>-->
    <!--</div>-->
    <!--<div class="card-content">-->
        <!--<p>I am a very simple card. I am good at containing small bits of information.-->
            <!--I am convenient because I require little markup to use effectively.</p>-->
    <!--</div>-->
    <!--<div class="card-action">-->
        <!--<a href="#/">This is a link</a>-->
    <!--</div>-->
<!--</div>-->

<table class="s12 col table" style="margin-top: 30px;">
    <thead>
    <tr>
        <th width="200">Title</th>
        <th width="150">Place</th>
        <th>Description</th>
        <th width="150">Price</th>
        <th width="150">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="service in services">
        <td width="200">{{service.title}}</td>
        <td width="150">{{service.place}}</td>
        <td>{{service.description}}</td>
        <td width="150">{{service.price|currency}}</td>
        <td width="150">{{service.date|date:'MM-dd-yyyy'}}</td>
    </tr>
    </tbody>
</table>