<table class="s12 col table">
    <thead>
    <tr>
        <th width="200">Title</th>
        <th width="150">Place</th>
        <th>Description</th>
        <th width="150">Price</th>
        <th width="150">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="service in services">
        <td width="200">{{service.title}}</td>
        <td width="150">{{service.place}}</td>
        <td>{{service.description}}</td>
        <td width="150">{{service.price|currency}}</td>
        <td width="150">{{service.date|date:'MM-dd-yyyy'}}</td>
    </tr>
    </tbody>
</table>