<table class="s12 col table">
    <thead>
    <tr>
        <th width="200">Title</th>
        <th>Description</th>
        <th width="150">School</th>
        <th width="150">Price</th>
        <th width="150">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="stuff in stuffs">
        <td width="200">{{stuff.title}}</td>
        <td>{{stuff.description}}</td>
        <td width="150">{{stuff.school}}</td>
        <td width="150">{{stuff.price|currency}}</td>
        <td width="150">{{stuff.date|date:'MM-dd-yyyy'}}</td>
    </tr>
    </tbody>
</table>