<table class="col s12 table">
    <thead>
        <tr>
            <th width="200">Title</th>
            <th width="150">Author</th>
            <th>School</th>
            <th width="150">ISBN</th>
            <th width="150">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="textbook in textbooks">
            <td width="200"><a href="#/textbook/{{textbook.id}}">{{textbook.title}}</a></td>
            <td width="150">{{textbook.author}}</td>
            <td>{{textbook.school}}</td>
            <td width="150">{{textbook.ISBN}}</td>
            <td width="150">{{textbook.price|currency}}</td>
        </tr>
    </tbody>
</table>