<div class="slider" slider style="margin-top: 30px;">
    <ul class="slides">
        <li>
            <img src="../img/battlefield.png"> <!-- random image -->
            <div class="caption left-align">
                <h3>Battlefield</h3>
                <!--<h5 class="light grey-text text-lighten-3">Order them now</h5>-->
            </div>
        </li>
        <li>
            <img src="../img/halo.png"> <!-- random image -->
            <div class="caption right-align">
                <h3>Halo</h3>
                <!--<h5 class="light grey-text text-lighten-3">Enjoy yourself</h5>-->
            </div>
        </li>
        <li>
            <img src="../img/assassins-creed.png"> <!-- random image -->
            <div class="caption left-align" style="margin-top: 20px;">
                <h3>Assassin's Creed</h3>
                <!--<h5 class="light grey-text text-lighten-3">The Empire State</h5>-->
            </div>
        </li>
    </ul>
</div>
<div class="row">
    <div class="input-field col offset-s4 s4 offset-s4" >
        <input id="text_search" type="text" class="validate" ng-model="search.title">
        <label for="text_search"><i class="mdi-av-my-library-books"></i><span style="margin-left: 5px;">Search Textbooks</span></label>
    </div>
</div>
<div class="card" ng-repeat="textbook in textbooks| filter:search">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../img/battlefield.png">
    </div>
    <div class="card-content">
        <!--<span class="card-title activator grey-text text-darken-4">{{textbook.title}} <i class="mdi-navigation-more-vert right"></i></span>-->
        <span class="card-title activator grey-text text-darken-4">{{textbook.title|limitTo:15}}{{textbook.title.length > 15 ? '&hellip;': ''}} <i class="mdi-navigation-more-vert right"></i></span>
        <!--<p><a href="#">This is a link</a></p> Could be needed in the future for other stuff-->
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{textbook.title}} <i class="mdi-navigation-close right"></i></span>
        <p>Title: {{textbook.title}}</p>
        <p ng-if="textbook.ISBN">ISBN: {{textbook.ISBN}}</p>
        <p ng-if="textbook.author">Author: {{textbook.author}}</p>
        <p ng-if="textbook.category">Category: {{textbook.category}}</p>
        <p ng-if="textbook.school">School: {{textbook.school}}</p>
        <p ng-if="textbook.price">Price: {{textbook.price | currency}}</p>
        <p ng-if="textbook.date">Date: {{textbook.date|date:'MM-dd-yyyy'}}</p>
    </div>
</div>


<!--<table class="col s12 table">-->
    <!--<thead>-->
        <!--<tr>-->
            <!--<th width="200">Title</th>-->
            <!--<th width="150">Author</th>-->
            <!--<th>School</th>-->
            <!--<th width="150">ISBN</th>-->
            <!--<th width="150">Price</th>-->
        <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
        <!--<tr ng-repeat="textbook in textbooks">-->
            <!--<td width="200"><a href="#/textbook/{{textbook.id}}">{{textbook.title}}</a></td>-->
            <!--<td width="150">{{textbook.author}}</td>-->
            <!--<td>{{textbook.school}}</td>-->
            <!--<td width="150">{{textbook.ISBN}}</td>-->
            <!--<td width="150">{{textbook.price|currency}}</td>-->
        <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->